@model IEnumerable<Books.Models.Book>

@foreach (var item in Model)
{
    <div class="col-4 col-md-3 ">
        <div class="thumbnail">
            <a href="@Url.Action("Book","Home",new {id=item.BookId})">
                <img class="card-img-top" src="https://www.ucuzkitapal.com/images/thumbnails/500/500/detailed/15/9786257693622.webp" alt="">
            </a>
            <div class="caption">
                <a href="@Url.Action("Book","Home",new {id=item.BookId})">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                </a>
                <p class="card-text"><a href="/Home/Author/@item.AuthorId">@Html.DisplayFor(modelItem => item.Author.FullName)</a></p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                <a href="" class="btn btn-primary btn-sm">İncele</a>
                <a href="#" class="btn btn-success btn-sm">Sepete Ekle</a>
            </div>
        </div>
    </div>
}