<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookS Best addres to buy books</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar bg-info navbar-expand-sm ">
        <div class="container">


            <ul class="navbar-nav">
                <a href="/Home/Index" class="nav-link">Home</a>
                <a href="/Home/About" class="nav-link">About</a>
                <a href="/Home/Contact" class="nav-link">Contact</a>


            </ul>


            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                @*<button  class="btn btn-outline-success" type="submit">Search</button>*@
                <a href="#" title="Img">
                    <img src="https://www.freeiconspng.com/uploads/search-icon-png-1.png" width="50" alt="Download Search Icon" />
                </a>
            </form>
            @Html.Partial("_LoginPartial")

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer class="py-5 bg-dark text-white text-center">
        <p>&copy; @DateTime.Now.Year - BookS Corp.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/content/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

